@import 'tailwindcss';

/* Edensor Font */
@font-face {
    font-family: "Edensor";
    src: url("/fonts/Edensor.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* GLOBAL CUSTOM SCROLLBAR */

/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #7a7a7a #f5f5f5;
}

/* Chrome / Edge / Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 10px;
    border: 2px solid #f5f5f5;
}

*::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a;
}

/* Remove scrollbar arrows (top/bottom) */
*::-webkit-scrollbar-button {
    display: none;
}
